body {
  background: #121212 !important;
  color: white !important;
}

body::-webkit-scrollbar {
  width: 0px;
}

.fade-in-animate {
  animation: fade-in 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms 1;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
