.button-pj {
  background: var(--primary-color-own) !important;
  color: white;
}
.button-pj:hover {
  background: var(--primary-color-own-hover) !important;
}

.button-pj-inactive {
  border: 1px solid var(--primary-color-own-inactive);
  color: var(--primary-color-own-inactive) !important;
}

.button-pj-inactive:hover {
  background: transparent !important;
  color: var(--primary-color-own-hover) !important;
}
